{
    "compact": false,
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        "react-loadable/babel",
        "babel-plugin-styled-components",
        "transform-object-rest-spread",
    ]
}
