# Miscellaneous
node_modules/*
*.log*
playground/*
**/.DS_Store

# Dist
dist/index.js
dist/index.js.map
dist/react-loadable.json
dist/public/*
!dist/public/.gitkeep
dist/templates/*
!dist/templates/.gitkeep
dist/compilation-stats.json
dist/lint-report.html

# Logs
logs/*
!logs/.gitkeep

# Python
__pycache__
*.pyc

# Dataset
data*