# Miscellaneous
node_modules/*
*.log*
playground/*
**/.DS_Store

# Dist
dist/index.js
dist/index.js.map
dist/react-loadable.json
dist/public/*
!dist/public/.gitkeep
dist/templates/*
!dist/templates/.gitkeep
dist/compilation-stats.json

# Logs
logs/*
!logs/.gitkeep

# Data
data.csv