<!DOCTYPE html>
<html lang="vi">

<head>
  <%- include('components/head'); -%>
</head>

<body>
  
  <div id="root"><%-data.html%></div>
  
  <%- include('components/font'); -%>
  <%- include('components/scripts'); -%>

</body>
</html>